# Basic Python Usage

### Operations

In [37]:
# the "#" character is used to type comments
# comments are anything you don't want to run 
# people use comments to type notes to annotate code like this: 

# the code below calculates 3-23 (shortcut: ctrl + '/')

3-23

-20

-20

In [38]:
12*3

36

36

In [39]:
2/4

0.5

0.5

In [40]:
# power (2 asterisks)

2**4

4**3

3**2

9

9

In [41]:
(1+4)*(5+6)

55

55

### Variable Assignment

In [42]:
# Cannot start with number or special characters
# e.g. num1 and num2 are variables to which you can assign values to and call these variables later
num1 = 2
num2 = 4

In [43]:
num3 = num1*num2
num3

8

8

### Strings

In [44]:
s = 'single quote' # text in quotation marks
s

'single quote'

'single quote'

### Printing

In [45]:
print(s) # print out some output (e.g. print a strgin s)

single quote
single quote

In [46]:
print('hello') # hello is not a variable, just a string

hello
hello

In [47]:
# hello # hello is not a variable, so we cannot call it

### Lists

In [48]:
my_list = [1,2,3] # contain a list of variables, numbers, strings...enclosed in square brackets

In [49]:
my_list

[1, 2, 3]

[1, 2, 3]

In [50]:
# elements in lists are indexed starting from 0 
my_list[0] # element at index 0 (position 1, or the first element)

1

1

In [51]:
my_list[2] # index 2 (position 3)

3

3

In [52]:
my_list[1:3] # elements at index 1, 2 (starting from index 1, but not including index 3 -> elements wiht index 1 and 2 -> elements at position 2 and 3)

[2, 3]

[2, 3]

### Find length of string, lists...

In [53]:
len(my_list) # gives number of elements

3

3

In [54]:
s = 'hello' # gives number of char
len(s)

5

5

### Logical Comparisons
- can be evaluated with a Boolean expression (True or False)

In [55]:
1 == 1 # are the 2 items equal or not (True or False)

True

True

In [56]:
1 == 20

False

False

In [57]:
1 < 2

True

True

In [58]:
1 < -100

False

False

In [59]:
1 >= 1

True

True

In [60]:
(1 > 2) and (2 < 3)

False

False

In [61]:
(1 > 2) or (2 < 3) # the whole expresssion will be True if at least one part of it is True

# first part (1>2) is False 
# second part (2<3) is True 
# whole expresssion is True

True

True

In [62]:
(1 == 2) or (2 == 3) or (4 == 4)

True

True

### If, elif, else conditions

In [63]:
if 1 < 2: # if this condition is true, run code below
    print('this is right')

this is right
this is right

In [64]:
a = 3 # let a = 3 

if a == 2: # if this condition is true, run code below. If not, run the code under 'else'
    print('the number is 2')
else:
    print('the number is not 2')

the number is not 2
the number is not 2

In [65]:
a = 3 # to compare 3 conditions or more, use if followed by elif (else if) followed by else 
if a == 2:
    print('this is 2')
elif a == 3:
    print('this is 3')
else:
    print('the number is neither 2 nor 3')

this is 3
this is 3

### for loops

In [66]:
seq = [1,2,3,4,5] 

# use 'for' keyword followed by 'in'

# loop through every element ('i') in seq, then print that element+1 (i+1)
for i in seq:
    print(i+1)

2
3
4
5
6
2
3
4
5
6

### range

In [67]:
# range() also starts from index 0 

# loop through all numbers from 0 up to the number inside range()-1

for i in range(5):
    print(i)

0
1
2
3
4
0
1
2
3
4

In [68]:
# 1. Does the following command return True or False? Briefly explain in one sentence.

(10 > 25) and (25 < 35)

# False

False

False

In [69]:
# 2. Does the following command return True or False? 

(5 > 2) or (3 == 3) or (4*4 < 20)

# True

True

True

In [70]:
# 3. What value must be assigned to x to print numbers from 0 to 10? 

x = 11

for i in range(x):
    print(i)
    
# Ans: 11

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [71]:
# 4. Use the sales.csv data. Colon ':' can be used to choose subsets of a dataframe (e.g. df[0:10] chooses first 10 rows (weeks) of dataframe df).
# What value must be assigned to the index x in df[10:x] to return rows (weeks) 11 to 20?
# You may download the sales.csv data usin the command: 
# import pandas as pd
# df = pd.read_csv('https://www.dropbox.com/s/vczkbygb45z7n3y/sales.csv?dl=1')

import pandas as pd
df = pd.read_csv('https://www.dropbox.com/s/vczkbygb45z7n3y/sales.csv?dl=1')

# df = pd.read_csv('sales.csv')

x = 19 

df[10:x]

# Ans: 19

    week       date  price  quantity  cost
10    11  12-Apr-19   1.02        10  0.20
11    12  19-Apr-19   1.22         6  0.86
12    13  26-Apr-19   1.54        19  0.57
13    14  03-May-19   1.25         5  0.04
14    15  10-May-19   1.24        13  0.77
15    16  17-May-19   1.89        11  0.72
16    17  24-May-19   1.85        17  0.98
17    18  31-May-19   1.32        11  0.80
18    19  07-Jun-19   1.02        17  0.33

    week       date  price  quantity  cost
10    11  12-Apr-19   1.02        10  0.20
11    12  19-Apr-19   1.22         6  0.86
12    13  26-Apr-19   1.54        19  0.57
13    14  03-May-19   1.25         5  0.04
14    15  10-May-19   1.24        13  0.77
15    16  17-May-19   1.89        11  0.72
16    17  24-May-19   1.85        17  0.98
17    18  31-May-19   1.32        11  0.80
18    19  07-Jun-19   1.02        17  0.33

In [72]:
# 5. Use the sales.csv data. A command like df[100:] chooses all rows (weeks) starting from index 100 to the end. 
# What value must be assgined to the index x in df[x:] to return rows (weeks) starting from week 91?
# You may download the sales.csv data usin the command: 
# import pandas as pd
# df = pd.read_csv('https://www.dropbox.com/s/vczkbygb45z7n3y/sales.csv?dl=1')

import pandas as pd
df = pd.read_csv('https://www.dropbox.com/s/vczkbygb45z7n3y/sales.csv?dl=1')

x = 90

df[x:]

# Ans: df[90:]

     week       date  price  quantity  cost
90     91  23-Oct-20   1.98         2  0.96
91     92  30-Oct-20   1.44         4  0.13
92     93  06-Nov-20   1.58        13  0.18
93     94  13-Nov-20   1.89        15  0.36
94     95  20-Nov-20   1.73        12  0.49
95     96  27-Nov-20   1.48        20  0.24
96     97  04-Dec-20   1.98         5  0.73
97     98  11-Dec-20   1.04         1  0.09
98     99  18-Dec-20   1.32        10  0.16
99    100  25-Dec-20   1.39        15  0.97
100   101  01-Jan-21   1.87        17  0.79
101   102  08-Jan-21   1.70        14  0.62

     week       date  price  quantity  cost
90     91  23-Oct-20   1.98         2  0.96
91     92  30-Oct-20   1.44         4  0.13
92     93  06-Nov-20   1.58        13  0.18
93     94  13-Nov-20   1.89        15  0.36
94     95  20-Nov-20   1.73        12  0.49
95     96  27-Nov-20   1.48        20  0.24
96     97  04-Dec-20   1.98         5  0.73
97     98  11-Dec-20   1.04         1  0.09
98     99  18-Dec-20   1.32        10  0.16
99    100  25-Dec-20   1.39        15  0.97
100   101  01-Jan-21   1.87        17  0.79
101   102  08-Jan-21   1.70        14  0.62