# Basic Python Usage

### Operations

In [1]:
# the "#" character is used to type comments
# comments are anything you don't want to run 
# people use comments to type notes to annotate code like this: 

# ctrl + enter
# shift + Enter

3-23

-20

In [2]:
12*3

36

In [3]:
2/4

0.5

In [4]:
 
2**4

16

In [5]:
(1+4)*(5+6)

55

### Variable Assignment

In [6]:
num1 = 2
num2 = 4

In [7]:
num3 = num1*num2
num3

8

### Strings

In [8]:
s = 'single quote' 
s

'single quote'

### Printing

In [9]:
print(s)

single quote

In [10]:
print('hello')

hello

### Lists

In [11]:
my_list = [1,2,3]

In [12]:
my_list

[1, 2, 3]

In [13]:
my_list[0]

1

In [14]:
my_list[2]

3

In [15]:
my_list[1:3]

[2, 3]

### Find length of string, lists...

In [16]:
len(my_list)

3

In [17]:
s = 'hello' 
len(s)

5

### Logical Comparisons
- can be evaluated with a Boolean expression (True or False)

In [18]:
1 == 1

True

In [19]:
1 == 20

False

In [20]:
1 < 2

True

In [21]:
1 >= 1

True

In [22]:
(1 > 2) and (2 < 3)

False

In [23]:
(1 > 2) or (2 < 3)

True

In [24]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### If, elif, else conditions

In [25]:
if 1 < 2: 
    print('this is right')

this is right

In [26]:
a = 3 
if a == 2: 
    print('the number is 2')
else:
    print('the number is not 2')

the number is not 2

In [27]:
a = 3

if a == 2:
    print('this is 2')
elif a == 3:
    print('this is 3')
else:
    print('the number is neither 2 nor 3')

this is 3

### for loops

In [28]:
seq = [1,2,3,4,5] 

for i in seq:
    print(i+1)

2
3
4
5
6

### range

In [29]:
for i in range(5):
    print(i)

0
1
2
3
4